.root {
  max-width: 1200px;
  min-width: 800px;
  margin: auto;
  padding: auto;
  position: center;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
}

/* input-form */
.input-form {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: bisque;
  padding: 10px 10px 10px 10px;
  margin-bottom: 50px;
  border-radius: 10px;
  gap: 20px;
}
.input-form input {
  width: 280px;
  height: 30px;
  border-radius: 10px;
  border: none;
}
.input-form button {
  height: 30px;
  width: 100px;
  border-radius: 10px;
  background-color: green;
  color: white;
  border: none;
}

/* working */
.working-list {
  width: 250px;
  height: 200px;
  border: 5px solid darkolivegreen;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
}
.complete-btn {
  height: 30px;
  width: 100px;
  border-radius: 10px;
  background-color: green;
  color: white;
  border: none;
}

/* 공통 */
.delete-btn {
  height: 30px;
  width: 100px;
  border-radius: 10px;
  background-color: red;
  color: white;
  border: none;
}

/* done */
.done-list {
  width: 250px;
  height: 200px;
  border: 5px solid darkolivegreen;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
}
.cancel-btn {
  height: 30px;
  width: 100px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  border: none;
}
